Package: ws.hbang.runtimebrowser
Name: RuntimeBrowser
Version: 1.1
Architecture: iphoneos-arm
Description: Class browser for Objective-C runtime
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Section: Utilities
Icon: https://chariz.com/cdn/icon/runtimebrowser/icon@3x.png
Depiction: https://chariz.com/get/runtimebrowser
Tag: role::hacker, compatible_min::ios8.0
